.root {
  border-radius: 1rem;
  border: 1px solid var(--panel-border);
  background: var(--panel-bg);
  padding: 1rem;
  color: var(--panel-fg);
  box-shadow: var(--panel-shadow);
  backdrop-filter: blur(24px) saturate(1.5);
}

.paddingLg {
  padding: 1.5rem;
}

@media (min-width: 40rem) {
  .paddingLg {
    padding: 2rem;
  }
}

.relative {
  position: relative;
}

.z10 {
  z-index: 10;
}
