.root {
  position: relative;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  background: var(--background);
}

.body {
  height: 100%;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  flex-direction: column;
  overflow: hidden;
}

.outlet {
  display: flex;
  min-height: 0;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
